#projectList { padding-top: 20vw; }
#projectList .title-wrap { padding-bottom: 10rem; border-bottom: 1px solid #000; }
#projectList .title { position: relative; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }
#projectList .title::after { content: ''; position: absolute; top: 50%; left: 120%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 100px; height: 100px; background: url('') no-repeat center / 100%; -webkit-animation: projtct 1s steps(1, end) infinite; animation: projtct 1s steps(1, end) infinite;}
@-webkit-keyframes projtct {
	0%, 49% {
	  	background-image: url('../img/project.svg');
	}
	50%, 100% {
		background-image: url('../img/project_hover.svg');
	}
}
@keyframes projtct {
	0%, 49% {
	  	background-image: url('../img/project.svg');
	}
	50%, 100% {
		background-image: url('../img/project_hover.svg');
	}
}

#projectList .project-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 8rem 4rem; padding: 5rem 0 10rem; }
#projectList .project-list li { width: calc(25% - 3rem); aspect-ratio: 3/4; z-index: 1; }
#projectList .project-list .cont { margin-bottom: 4rem; }
#projectList .project-list .cont h3 { font-size: 3.6rem; }
#projectList .project-list .cont p { font-size: 2.4rem; color: #666; }
#projectList .project-list .project-box-link {position: relative;display: block;width: 100%;height: 100%;-webkit-transition-duration: 10ms;-o-transition-duration: 10ms;transition-duration: 10ms;-webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);-o-transition-timing-function: cubic-bezier(.165,.84,.44,1);transition-timing-function: cubic-bezier(.165,.84,.44,1)}
#projectList .project-list .project-box-front { position: relative; z-index: 2; background: #000;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;color: #fff;padding: 6rem 4rem 4rem;border-radius: 3rem; opacity: 0; visibility: hidden; -webkit-transition-duration: .6s; -o-transition-duration: .6s; transition-duration: .6s; -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1); -o-transition-timing-function: cubic-bezier(.86,0,.07,1); transition-timing-function: cubic-bezier(.86,0,.07,1)}
#projectList .project-list .project-box-front h3 { font-size: 4rem; font-weight: 600; }
#projectList .project-list .project-box-front span { display: block; font-size: 1.6rem; margin-bottom: 0.5em; }
#projectList .project-list .project-box-front p { font-size: 2.4rem; }
#projectList .project-list .project-box-back { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 3rem; overflow: hidden; -webkit-transition-duration: .6s; -o-transition-duration: .6s; transition-duration: .6s; -webkit-transition-timing-function: cubic-bezier(.86,0,.07,1); -o-transition-timing-function: cubic-bezier(.86,0,.07,1); transition-timing-function: cubic-bezier(.86,0,.07,1) }

#projectList .project-list .project-box-link:hover { z-index: 2;}
#projectList .project-list .project-box-link:hover .project-box-front { opacity: 1; visibility: visible; -webkit-transform: translate(40px, 10px) rotate(7deg); -ms-transform: translate(40px, 10px) rotate(7deg); transform: translate(40px, 10px) rotate(7deg); }
#projectList .project-list .project-box-link:hover .project-box-back { -webkit-transform: translate(0, -150px) rotate(-5deg); -ms-transform: translate(0, -150px) rotate(-5deg); transform: translate(0, -150px) rotate(-5deg); }

@media (max-width: 1280px) {
	#projectList .project-list li { width: calc(33.3333% - 2.666666666666667rem); }
}
@media (max-width: 1024px) {
	#projectList .project-list li { width: calc(50% - 2rem); }
	#projectList .project-list .project-box-link:hover .project-box-front { opacity: 1; visibility: visible; -webkit-transform: translate(20px, 10px) rotate(2deg); -ms-transform: translate(20px, 10px) rotate(2deg); transform: translate(20px, 10px) rotate(2deg); }
	#projectList .project-list .project-box-link:hover .project-box-back { -webkit-transform: translate(0, -130px) rotate(-3deg); -ms-transform: translate(0, -130px) rotate(-3deg); transform: translate(0, -130px) rotate(-3deg); }
}
@media (max-width: 768px) {
	#projectList .title-wrap { padding-bottom: 3rem; }
	#projectList .title::after { width: 6rem; height: 6rem; }
	#projectList .project-list .cont { margin-bottom: 2rem; }
	#projectList .project-list .cont h3 { font-size: 3rem; }
	#projectList .project-list .cont p { font-size: 2rem; }
	#projectList .project-list .project-box-front { padding: 4rem 3rem; border-radius: 2rem;}
	#projectList .project-list .project-box-front h3 { font-size: 3rem;}
	#projectList .project-list .project-box-front p { font-size: 2rem; }
	#projectList .project-list .project-box-back { border-radius: 2rem; }
	#projectList .project-list .project-box-front,
	#projectList .project-list .project-box-back { -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
	#projectList .project-list .project-box-link:hover .project-box-front { opacity: .8; visibility: visible; -webkit-transform: translate(0, 0) rotate(0deg); -ms-transform: translate(0, 0) rotate(0deg); transform: translate(0, 0) rotate(0deg); }
	#projectList .project-list .project-box-link:hover .project-box-back { -webkit-transform: translate(0, 0px) rotate(0deg); -ms-transform: translate(0, 0px) rotate(0deg); transform: translate(0, 0px) rotate(0deg); }
}
@media (max-width: 480px) {
	#projectList { padding-top: 15rem; }
	#projectList .project-list { gap: 5rem; }
	#projectList .project-list li { width: 100%; aspect-ratio: 1; }
	#projectList .project-list .project-box-front,
	#projectList .project-list .project-box-back { -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
	#projectList .project-list .project-box-link:hover .project-box-front { opacity: .8; visibility: visible; -webkit-transform: translate(0, 0) rotate(0deg); -ms-transform: translate(0, 0) rotate(0deg); transform: translate(0, 0) rotate(0deg); }
	#projectList .project-list .project-box-link:hover .project-box-back { -webkit-transform: translate(0, 0px) rotate(0deg); -ms-transform: translate(0, 0px) rotate(0deg); transform: translate(0, 0px) rotate(0deg); }
}


#projectDetail { padding-top: 20vw; }
#projectDetail h3 { font-size: 6rem; font-weight: 600; color: #000; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 2rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 var(--sidePadding); margin-bottom: 9rem; }
#projectDetail h3::before { content: ''; display: inline-block; width: 4rem; height: 4rem; background: url('../img/twingkle1.svg') no-repeat center / 100%; -webkit-filter: brightness(0); filter: brightness(0);}

#projectDetail .img { width: 100%; aspect-ratio: 12 / 5; border-top: 1px solid #000; border-bottom: 1px solid #000;}
#projectDetail .img img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top;}
#projectDetail .img_mo,
#projectDetail .img_tab { display: none; }
#projectDetail .front { width: 100%; aspect-ratio: 12 / 5;}
#projectDetail .front iframe { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }
#projectDetail .info { padding: 10rem var(--sidePadding); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 12rem;}
#projectDetail .info >* { width: calc(50% - 6rem); }
#projectDetail .info .tit { font-size: 2.4rem; font-weight: 500; margin-bottom: 4rem;  }
#projectDetail .detail {}
#projectDetail .detail li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 2.4rem; }
#projectDetail .detail li + li { margin-top: 5px; }
#projectDetail .detail strong { position: relative; display: inline-block; color: #666; width: 14rem;  }
#projectDetail .detail strong::before { content: ''; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 20px; background: #ccc; }
#projectDetail .detail span { display: inline-block; color: #666; padding-left: 5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
#projectDetail .view .desc { color: #666; }

.btn-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; }
.btn-wrap a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; width: 28rem; height: 10rem; border-radius: 50px; background: #eee; font-size: 2.4rem; font-weight: 500; color: #666; -webkit-transition: .3s; -o-transition: .3s; transition: .3s;}
.btn-wrap a img { -webkit-transition: .3s; -o-transition: .3s; transition: .3s;}
.btn-wrap a:hover { background: #000; color: #fff;}
.btn-wrap a:hover img { -webkit-filter: brightness(100); filter: brightness(100); }

@media (max-width: 1024px) {
	#projectDetail h3 { font-size: 5vw; }
	#projectDetail h3::before { width: 3vw; height: 3vw; }
	#projectDetail .img { height: 80vh; aspect-ratio: unset;}
	#projectDetail .img_pc { display: none; }
	#projectDetail .img_tab { display: block; }
	#projectDetail .info { gap: 5rem;}
	#projectDetail .info >* { width: 100%; }
	#projectDetail .info .tit { margin-bottom: 3rem; }
	.btn-wrap a { width: 25rem; height: 6rem; font-size: 2.2rem; }
	.btn-wrap a img { height: 3rem;}
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
	#projectDetail { padding-top: 15rem; }
	#projectDetail h3 { font-size: 6vw; gap: 1rem; margin-bottom: 3rem; }
	#projectDetail h3::before { width: 4vw; height: 4vw; }

	#projectDetail .img_tab { display: none; }
	#projectDetail .img_mo { display: block; }
}