@font-face {
    font-family: 'Dealoras';
    src: url('Dealoras.woff2') format('woff2'),
        url('Dealoras.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

